
<section id="features">
				<div class="container">

					<header class="text-center margin-bottom-60">
						<h2>The main features</h2>
						<p class="lead font-lato">These are some of CraftBeerPI's great features. Explore the possibilities...</p>
						<hr />
					</header>

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover fa fa-cubes  "></i>
								<h4>Flexible Kettle Configuration</h4>
								<p>From simple single kettle preserving cooker to 3 kettle RIMS or HERMS setup</p>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover fa fa-list-ol"></i>
								<h4>Flexible Brew Step Configuraiton</h4>
								<p>Configure your own brew steps. From mashing over boiling to whirlpool</p>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover fa fa-upload"></i>
								<h4>Import recipes from Beer.xml and "Kleiner Brauhelfer"</h4>
								<p>Plan your brew at your favorite tool like BeerSmith or "Kleiner Brauhelfer" and import the recipes to CraftBeerPI</p>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover fa fa-code"></i>
								<h4>Expandable</h4>
								<p>Extend the software with new control logics or hardware connectors/p>
							</div>
						</div>
					</div>
					<!-- /FEATURED BOXES 3 -->

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover fa fa-fire"></i>
								<h4>Heater, Pump, Valves &amp; Agitator Control</h4>
								<p>Control your hardware via web interface</p>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover fa fa-car"></i>
								<h4>PID Controller</h4>
								<p>The PID Controller takes care to meet the target temperatue of your kettle</p>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover fa fa-area-chart"></i>
								<h4>Temperature Chart</h4>
								<p>Temprature data is recorded and displayed as a line chart</p>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover fa fa-snowflake-o"></i>
								<h4>Fermentation Control</h4>
								<p>Define fermentation steps and create the perfect condition for your fermentation</p>
							</div>
						</div>
					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>
			</section>
