<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
  <nav class="nav-main">

    <!--
      NOTE

      For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
      Direct Link Example:

      <li>
        <a href="#">HOME</a>
      </li>
    -->
    <ul id="topMain" class="nav nav-pills nav-main">
      <li>
        <a href="{{ site.baseurl }}/">HOME</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog">BLOG</a>
      </li>

      <li class="dropdown"><!-- PAGES -->
        <a class="dropdown-toggle" href="#">
          INSTALLATION &amp; DOC
        </a>
        <ul class="dropdown-menu">

          <li>
            <a href="{{ site.baseurl }}/installation">Software Installation</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/">iOS Installer App</a>
          </li>
          <!--<li>
            <a href="{{ site.baseurl }}/">C.H.I.P Pocket Computer</a>
          </li>-->
          <li>
            <a href="{{ site.baseurl }}/hardware">Hardware Wiring</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/developer">Developer Guide</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/license">License</a>
          </li>

        </ul>
      </li>

      <li>
        <a href="{{ site.baseurl }}/support">SUPPORT</a>
      </li>
      
      <li>
        <a href="https://github.com/manuel83/craftbeerpi"><i class="fa fa-github"></i> GITHUB</a>
      </li>
      <li>
        <a href="https://facebook.com/craftbeerpi"><i class="fa fa-facebook"></i> FACEBOOK</a>
      </li>

    </ul>

  </nav>
</div>
